<nav>
    <ul class="ul">
        <li><h4 style="color: black;font-weight: 800;">TO DO</h4></li>
        <li><a href="{% url 'logout' %}" style="color: black;">Logout</a></li>
    </ul>
</nav>

<style>
nav {
    background-color: #0057b386;
    padding: 10px;
}

nav .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
.log{
    background-color: #0056b3;
}
</style>
